.idea
node_modules
npm-*.log*
*~
.project
build
static/js/bundle.js
static/js/bundle.js.map
static/js/config.js
static/version.txt
results.xunit
.DS_Store
static/.DS_Store
*.iml
*.ipr
*.iws
coverage
.nyc_output
.sonar
results.xml
package-lock.json